html, body {
    width: 100%;
    height: 100%;
    font-family: 'Square Peg', cursive;
    background-color: darkturquoise;
}

h1 {
    font-size: 58px;
    text-align: center;
    font-weight: 700;
}

h3 {
    font-size: 40px;
    font-weight: 700;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    margin: 4px;
    font-size: 40px;
}

.profile-img {
    width: 33%;
    height: 33%;
    float: left;
    margin-right: 36px;
    margin-bottom: 22px;
}

p {
    font-size: 30px;
    font-weight: 700;
}

